job-profile {
  ion-scroll {
    padding: 15px !important;
  }

  .toolbar-but {
      background-color: transparent;
      color: white;
  }

  .profile {
    width: 100%;
    .job-title {
        width: 100%;
        text-align: center;
        font-size: 1.5em;
        padding: 10px;
        a {
            text-decoration: underline;
            color: black;
        }
    }

    .location {
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
        .status {
            border-radius: 3px;
            padding: 3px 5px;
            font-size: 12px;
            color: white;
            font-weight: 500;
            margin-left: 10px;
        }
        .interested {
            background-color: $status-interested;
        }
        .interviewing {
            background-color: $status-interview;
        }
    }

    .section {
        margin-top: 15px;
        p {
            white-space: pre-wrap;
        }
        .header {
            font-size: 1.2em;
            font-weight: bold;
        }
    }
  }
}