app-home {
  background-color: map-get($color, light);
  ion-scroll {

    .job-list {
      background-color: white;
      width: 100%;
      height: calc(100vh - 56px);
    }

    opportunity-item {
      margin: 0px 5px;
    }
  }
  
  .tool-button {
    background-color: transparent !important;
    margin: 5px;
    padding: 5px;
    vertical-align: middle;
    font-size: 14px;
    color: white;
    font-weight: 600;
  }
}
@media screen and (min-width:500px) {
  .job-list {
    width: 500px !important;
    margin: auto;
  }
}
