app-home {
  ion-scroll {
    padding: 15px !important;

    .job-list {
      padding: 15px;
    }

    opportunity-item {
      margin: 0px 5px;
    }
  }
  .tool-button {
    background-color: transparent !important;
    margin: 5px;
    padding: 5px;
    vertical-align: middle;
    font-size: 14px;
    color: white;
    font-weight: 600;
  }


}
