app-home {
  ion-scroll {
    padding: 15px !important;

    .job-list {
      padding: 15px;
    }

    opportunity-item {
      margin: 0px 5px;
    }
  }
  ion-buttons {
    ion-button {
      color: white !important;
      button {
        color: white !important;
        padding: 5px;
      }
    }
  }
}
